// https://codyhouse.co/blog/post/how-to-combine-sass-color-functions-and-css-variables

@mixin defineColorHSL($color, $hue, $saturation, $lightness) {
  #{$color}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");
  #{$color}-h: #{$hue};
  #{$color}-s: #{$saturation};
  #{$color}-l: #{$lightness};
}

// Backdrop

@mixin blur {
  -webkit-backdrop-filter: saturate(180%) blur(1em);
  backdrop-filter: saturate(180%) blur(1em);
}

// Tab Size

@mixin tabSize {
  -moz-tab-size: $tabSize;
  tab-size: $tabSize;
}

// 默认禁用图片点击缩放功能

@mixin inline-image {
  // 禁用图片换行居中 & 上下边距 便于直接在行文中插入表情包
  display: inline;
  margin: 0.125rem;
  border: 0;
}

// 元素内容水平居中

@mixin center {
  display: flow-root;
  text-align: center;
}

// 卡片阴影

@mixin card {
  display: flex;
  position: relative;
  flex-direction: column;
  will-change: transform;
  word-wrap: break-word;
  backface-visibility: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #41403e;
  border-color: lighten(#868e96, 35%);
  box-shadow: 15px 28px 25px -18px hsla(0, 0, 0%, 0.2);
  transition: all 235ms ease 0s;

  &:hover {
    box-shadow: 2px 8px 8px -5px hsla(0, 0, 0%, 0.3);
    transform: translate3d(0, 2px, 0);
  }
}

// CSS Sprites

@mixin sprite-image($img_src) {
  background: url(#{$img_src});
}

@mixin sprite-position($offset_x, $offset_y) {
  background-position: #{$offset_x}, #{$offset_y};
}

@mixin sprite-size($size_x, $size_y) {
  min-width: #{$size_x};
  min-height: #{$size_y};
}

@mixin sprite($sprite) {
  @include sprite-image(nth($sprite, 1));
  @include sprite-position(nth($sprite, 2), nth($sprite, 3));
  @include sprite-size(nth($sprite, 4), nth($sprite, 5));
  zoom: nth($sprite, 6);
}
