/* 自定义样式文件
 * 本文件为优先级最高 会覆盖掉主题的样式
 * 这样的注释会留到编译后 */

// 这样的注释编译时会忽略掉

@import "./elements.scss"; // HTML 元素相关样式
@import "./images.scss"; // 图片元素相关样式
@import "./yu_gi_oh.scss"; // 游戏王主题相关样式
@import "./mahjong.scss"; // 麻将主题相关样式

.header {
  top: 0; // 浮动 header 永远置顶
}

nav.nav > ul#menu {
  font-size: 1.125rem; // 导航字体略微增大
}

.center,
span.sticker,
div.mermaid {
  @include center; // 内容水平居中
}

.center *,
span.sticker {
  vertical-align: middle; // 内容垂直居中
}

.handwriting {
  font-family: "Ma Shan Zheng"; // 手写字体
}

div.mermaid > svg {
  height: 100%; // 修复 mermaid.js 绘制 SVG 时 画布容器高度过高的问题
}
