/* 自定义样式文件
 * 本文件为优先级最高 会覆盖掉主题的样式
 * 这样的注释会留到编译后 */

// 这样的注释编译时会忽略掉

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

nav.nav > ul#menu {
  font-size: 1.1rem;
}

kbd {
  margin: 0 0.25rem 0 0.25rem;
  padding: 0 0.25rem 0 0.25rem;
  background-color: var(--color-contrast-lower);
  border: 0.125rem solid var(--color-contrast-higher);
  border-radius: 0.25rem;
  font-family: "Source Code Pro";
  font-weight: bold;
}

summary:hover {
  cursor: pointer;
}

img.no-zoom {
  // 禁用图片点击缩放 实际功能由额外组件实现 这里只是提醒有这个用法
  // 该组件位于 ./layouts/partials/third-party/medium-zoom.html
  // 感谢 MemE 主题使用的图片缩放库 medium-zoom.js 支持 CSS 选择器
  // 详见 https://github.com/francoischalifour/medium-zoom#selectors
}

@mixin inline-image {
  // 禁用图片换行居中上下边距 便于直接在行文中插入表情包
  display: inline;
  margin: 1px;
  border: 0;
} // 已默认禁用图片点击缩放功能

img.emoji,
img[data-emoji] {
  @include inline-image;
  max-height: 1.5rem; // 兼容在行文中插入 emoji 大小的表情包
}

img.sticker,
img[data-sticker],
span.sticker img,
div.ygo-card img,
div.ygo-deck img {
  @include inline-image;
}

span.sticker {
  display: flow-root;
  text-align: center;
}

span.sticker a,
div.ygo-card a {
  text-decoration: none; // 去掉图片贴纸集里空格的下划线
}

span.handwriting {
  font-family: "Ma Shan Zheng"; // 手写字体
}

span.mahjong-big {
  font-size: 3rem; // 调整麻将 emoji 字体大小
}

span.mahjong-small {
  display: flow-root;
  text-align: center;
  font-size: 2.25rem; // 调整麻将 emoji 字体大小
}

/* 游戏王相关 */

@font-face {
  font-family: "YGO Card Name";
  src: url("/fonts/ygo-card-name.ttf");
}

div.ygo-deck {
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border: 0.125rem solid var(--chroma-line-numbers-color);
  border-radius: 0.25rem;
}

div.ygo-deck-title {
  display: block;
  margin: 1rem auto 0 auto;
  text-align: center;
  font-family: "YGO Card Name", "Noto Serif SC";
  font-size: 1.5rem;
}

div.ygo-deck-name {
  font-size: 1.75rem;
}

div.ygo-deck img {
  max-height: 4.98rem;
}

div.ygo-card {
  display: inline-block;
  margin: 0.25rem;
  border: 0.125rem solid var(--color-contrast-higher);
  border-radius: 0.25rem;
}

span.ygo-card-cover {
  padding: 0.125rem;
  font-family: "YGO Card Name", "Noto Serif SC";
  font-size: 1.125rem;
}

div.ygo-monster {
  /* 怪兽颜色 仪式 融合 同步 超量 连接 */
  border: 0.125rem solid #b56542;
}

div.ygo-spell {
  border: 0.125rem solid #008d73;
}

div.ygo-trap {
  border: 0.125rem solid #a71675;
}

div.ygo-card img {
  max-height: 1.5rem;
  vertical-align: middle;
}

span.ygo-spell {
  font-weight: bold;
  color: #008d73;
}

span.ygo-trap {
  font-weight: bold;
  color: #a71675;
}

span.ygo-wind {
  font-weight: bold;
  color: #56b84f;
}

span.ygo-earth {
  font-weight: bold;
  color: #111312;
}

span.ygo-water {
  font-weight: bold;
  color: #0073af;
}

span.ygo-fire {
  font-weight: bold;
  color: #eb4221;
}

span.ygo-light {
  font-weight: bold;
  color: #f7df7f;
}

span.ygo-dark {
  font-weight: bold;
  color: #500854;
}

div.mermaid {
  text-align: center; // 居中显示
}

div.mermaid > svg {
  height: 100%; // 修复 mermaid.js 绘制 SVG 时 画布容器高度过高的问题
}
