/* 自定义样式文件
 * 本文件为优先级最高 会覆盖掉主题的样式
 * 这样的注释会留到编译后 */

// 这样的注释编译时会忽略掉

div.site-brand > a.brand {
  font-size: 1.25rem;
  color: var(--color-contrast-medium);
}

nav.nav > ul#menu {
  // 设置导航栏字体大小 默认的 80% 实在太小了
  font-size: 1.1rem;
}

kbd {
  font-family: "Source Code Pro";
}

img.no-zoom {
  // 禁用图片点击缩放 实际功能由额外组件实现 这里只是提醒有这个用法
  // 该组件位于 ./layouts/partials/third-party/medium-zoom.html
  // 感谢 MemE 主题使用的图片缩放库 medium-zoom.js 支持 CSS 选择器
  // 详见 https://github.com/francoischalifour/medium-zoom#selectors
}

@mixin inline-image {
  // 禁用图片换行居中上下边距 便于直接在行文中插入表情包
  // 已默认禁用图片点击缩放功能
  display: inline;
  margin: 1px;
  border: 0;
}

img.emoji, img[data-emoji] {
  @include inline-image;
  max-height: 1.5rem; // 兼容在行文中 emoji 插入大小的表情包
}

img.sticker, img[data-sticker], span.sticker img {
  @include inline-image;
}

span.sticker {
  display: block;
  text-align: center;
}

span.sticker a {
  text-decoration: none;
}

span.handwriting {
  // 手写字体
  font-family: "Ma Shan Zheng";
}

span.mahjong {
  // 调整麻将 emoji 字体大小
  font-size: 3rem;
}

p.mermaid > svg {
  // 修复 mermaid.js 绘制 SVG 时 画布容器高度过高的问题
  height: 100%;
}
