{{- if .Params -}}
  {{- $InputText := slice -}}
  {{- $Side := "" -}}
  {{- $DefaultStyle := "emoji" -}}
  {{- if $.Page.Params.mahjong -}}{{- $DefaultStyle = "svg" -}}{{- end -}}
  {{- $Style := $DefaultStyle -}}
  {{- $Sort := "on" -}}
  {{- if .IsNamedParams -}}
    {{- $InputText = slice (.Get "main") -}}
    {{- $InputText = $InputText | append (.Get "wait") -}}
    {{- $Side = .Get "side" -}}
    {{- $Style = .Get "style" | default $DefaultStyle -}}
    {{- $Sort = .Get "sort" | default "on" -}}
  {{- else -}}
    {{- $InputText = first 2 .Params -}}
    {{- $Side = .Get 3 -}}
  {{- end -}}

  {{- $EMOJI := dict "MAN" "🀇🀈🀉🀊🀋🀌🀍🀎🀏" "PIN" "🀙🀚🀛🀜🀝🀞🀟🀠🀡" "SO" "🀐🀑🀒🀓🀔🀕🀖🀗🀘" "ZI" "🀀🀁🀂🀃🀆🀅🀄" -}}
  {{- $RedExist := dict "man" false "pin" false "so" false -}}
  {{- $Output := slice -}}

  {{- range $InputText -}}

    {{- $input := lower (replace (trim (chomp .) "\n-_") " " "") -}}
    {{- $groups := dict "man" slice "pin" slice "so" slice "zi" slice -}}

    {{- range $suit := slice "m" "p" "s" "z" -}}

      {{- /* 解析并铺平(为一维)牌型数组(单种: 万子 饼子 索子 字牌) $array_1 */ -}}
      {{- $array_1 := slice -}}
      {{- $pattern := add "\\d+" $suit -}}
      {{- if gt (len (findRE $pattern $input)) 0 -}}
        {{- range $slice := findRE $pattern $input -}}
          {{- $temp := split (strings.TrimSuffix $suit (index (findRE $pattern $slice) 0)) "" -}}
          {{- $array_1 = $array_1 | append $temp -}}
        {{- end -}}
        {{- $input = replaceRE $pattern "" $input -}}
      {{- end -}}

      {{- $array_2 := slice -}}
      {{- if len $array_1 -}}
        {{- range $item := $array_1 -}}
          {{- /* 数字牌后处理 标记赤宝牌 */ -}}
          {{- if eq $item "0" -}}
            {{- $item = "5" -}}
            {{- if eq $suit "m" -}}
              {{- $RedExist = merge $RedExist (dict "man" true) -}}
            {{- else if eq $suit "p" -}}
              {{- $RedExist = merge $RedExist (dict "pin" true) -}}
            {{- else if eq $suit "s" -}}
              {{- $RedExist = merge $RedExist (dict "so" true) -}}
            {{- end -}}
          {{- end -}}
          {{- /* 处理为标准数字形式(1-9m/p/s,1-7z)的牌面 */ -}}
          {{- $array_2 = $array_2 | append (add $item $suit) -}}
        {{- end -}}
      {{- end -}}

      {{- /* 字牌后处理 处理剩余的字符形式牌面(字牌: E S W N P F C) */ -}}
      {{- if eq $suit "z" -}}
        {{- with $input -}}
          {{- $temp := slice -}}
          {{- range $char := split . "" -}}
            {{- if eq $char "e" -}}
              {{- $temp = $temp | append "1z" -}}
            {{- else if eq $char "s" -}}
              {{- $temp = $temp | append "2z" -}}
            {{- else if eq $char "w" -}}
              {{- $temp = $temp | append "3z" -}}
            {{- else if eq $char "n" -}}
              {{- $temp = $temp | append "4z" -}}
            {{- else if or (eq $char "p") (eq $char "b") -}}
              {{- $temp = $temp | append "5z" -}}
            {{- else if eq $char "f" -}}
              {{- $temp = $temp | append "6z" -}}
            {{- else if eq $char "c" -}}
              {{- $temp = $temp | append "7z" -}}
            {{ end }}
          {{- end -}}
          {{- $array_2 = $array_2 | append $temp -}}
        {{- end -}}
      {{- end -}}

      {{- /* 排序并写入字典 */ -}}
      {{- $temp := $array_2 -}}
      {{- if eq $Sort "on" -}}{{- $temp = sort $array_2 -}}{{- end -}}
      {{- if eq $suit "m" -}}
        {{- $groups = merge $groups (dict "man" $temp) -}}
      {{- else if eq $suit "p" -}}
        {{- $groups = merge $groups (dict "pin" $temp) -}}
      {{- else if eq $suit "s" -}}
        {{- $groups = merge $groups (dict "so" $temp) -}}
      {{- else if eq $suit "z" -}}
        {{- $groups = merge $groups (dict "zi" $temp) -}}
      {{- end -}}

    {{- end -}}

    {{- $Output = $Output | append $groups -}}

  {{- end -}}

  {{- $count := slice -}}
  {{- range $group := $Output -}}
    {{- $temp := 0 -}}
    {{- range $group -}}
      {{- $temp = add $temp (len .) -}}
    {{- end -}}
    {{- $count = $count | append $temp -}}
  {{- end -}}

  {{- if or (gt (index $count 0) 1) (gt (index $count 1) 0) -}}<div class="mahjong center" style="margin: 1rem 0; font-size: 2.5rem;">{{- end -}}

    {{- /* 展示副露区 */ -}}
    {{- with $Side -}}
      {{- $input := split . " " -}}
      {{- range $index, $item := $input -}}
        <span style="margin: 0 0.5rem;">
          {{- $type := slicestr $item 0 1 -}}
          {{- $pai := slicestr $item 1 3 -}}
          {{- $need := "" -}}
          {{- if eq (len $item) 5 -}}{{- $need = slicestr $item 4 -}}{{- end -}}

          {{- if eq $type "#" -}}
            {{- /* 处理吃 TODO 改进显示顺序 */ -}}
            {{- range $index := slice "0" "1" "2" -}}
              {{- $new_pai := add (htmlEscape (add (int (slicestr $pai 0 1)) (int $index))) (slicestr $pai 1) -}}
              {{- if eq $Style "img" -}}
                <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $new_pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
              {{- else if eq $Style "emoji" -}}
                {{- $i := int (slicestr $new_pai 0 1) -}}
                {{- $charset := "" -}}
                {{- if eq (slicestr $new_pai 1) "m" -}}
                  {{- $charset = $EMOJI.MAN -}}
                {{- else if eq (slicestr $new_pai 1) "p" -}}
                  {{- $charset = $EMOJI.PIN -}}
                {{- else if eq (slicestr $new_pai 1) "s" -}}
                  {{- $charset = $EMOJI.SO -}}
                {{- else if eq (slicestr $new_pai 1) "z" -}}
                  {{- $charset = $EMOJI.ZI -}}
                {{- end -}}
                {{- print (slicestr $charset (sub $i 1) $i) -}}
              {{- else -}}
                <svg class="{{- if eq $index $need -}}rotate{{- else -}}tile{{- end -}}"><use class="face" xlink:href="#mj-{{- $new_pai -}}" /></svg>
              {{- end -}}
            {{- end -}}
          {{- else if eq $type "." -}}
            {{- /* 处理碰 */ -}}
            {{- range $index := slice "0" "1" "2" -}}
              {{- if eq $Style "img" -}}
                <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
              {{- else if eq $Style "emoji" -}}
                {{- $i := int (slicestr $pai 0 1) -}}
                {{- $charset := "" -}}
                {{- if eq (slicestr $pai 1) "m" -}}
                  {{- $charset = $EMOJI.MAN -}}
                {{- else if eq (slicestr $pai 1) "p" -}}
                  {{- $charset = $EMOJI.PIN -}}
                {{- else if eq (slicestr $pai 1) "s" -}}
                  {{- $charset = $EMOJI.SO -}}
                {{- else if eq (slicestr $pai 1) "z" -}}
                  {{- $charset = $EMOJI.ZI -}}
                {{- end -}}
                {{- print (slicestr $charset (sub $i 1) $i) -}}
              {{- else -}}
                <svg class="{{- if eq $index $need -}}rotate{{- else -}}tile{{- end -}}"><use class="face" xlink:href="#mj-{{- $pai -}}" /></svg>
              {{- end -}}
            {{- end -}}
          {{- else if eq $type "-" -}}
            {{- /* 处理大明杠 */ -}}
            {{- range $index := slice "0" "1" "x" "2" -}}
              {{- if eq $Style "img" -}}
                <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
              {{- else if eq $Style "emoji" -}}
                {{- $i := int (slicestr $pai 0 1) -}}
                {{- $charset := "" -}}
                {{- if eq (slicestr $pai 1) "m" -}}
                  {{- $charset = $EMOJI.MAN -}}
                {{- else if eq (slicestr $pai 1) "p" -}}
                  {{- $charset = $EMOJI.PIN -}}
                {{- else if eq (slicestr $pai 1) "s" -}}
                  {{- $charset = $EMOJI.SO -}}
                {{- else if eq (slicestr $pai 1) "z" -}}
                  {{- $charset = $EMOJI.ZI -}}
                {{- end -}}
                {{- print (slicestr $charset (sub $i 1) $i) -}}
              {{- else -}}
                <svg class="{{- if eq $index $need -}}rotate{{- else -}}tile{{- end -}}"><use class="face" xlink:href="#mj-{{- $pai -}}" /></svg>
              {{- end -}}
            {{- end -}}
          {{- else if eq $type "+" -}}
            {{- /* 处理加杠 TODO 复杂判断 */ -}}
            {{- range $index := slice "0" "1" "x" "2" -}}
              {{- if eq $Style "img" -}}
                <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
              {{- else if eq $Style "emoji" -}}
                {{- $i := int (slicestr $pai 0 1) -}}
                {{- $charset := "" -}}
                {{- if eq (slicestr $pai 1) "m" -}}
                  {{- $charset = $EMOJI.MAN -}}
                {{- else if eq (slicestr $pai 1) "p" -}}
                  {{- $charset = $EMOJI.PIN -}}
                {{- else if eq (slicestr $pai 1) "s" -}}
                  {{- $charset = $EMOJI.SO -}}
                {{- else if eq (slicestr $pai 1) "z" -}}
                  {{- $charset = $EMOJI.ZI -}}
                {{- end -}}
                {{- print (slicestr $charset (sub $i 1) $i) -}}
              {{- else -}}
                <svg class="{{- if eq $index $need -}}rotate{{- else -}}tile{{- end -}}"><use class="face" xlink:href="#mj-{{- $pai -}}" /></svg>
              {{- end -}}
            {{- end -}}
          {{- else if eq $type "_" -}}
            {{- /* 处理暗杠 */ -}}
            {{- if eq $Style "img" -}}
              {{- range slice 1 2 3 4 -}}
              <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
              {{- end -}}
            {{- else if eq $Style "emoji" -}}
              {{- $i := int (slicestr $pai 0 1) -}}
              {{- $charset := "" -}}
              {{- if eq (slicestr $pai 1) "m" -}}
                {{- $charset = $EMOJI.MAN -}}
              {{- else if eq (slicestr $pai 1) "p" -}}
                {{- $charset = $EMOJI.PIN -}}
              {{- else if eq (slicestr $pai 1) "s" -}}
                {{- $charset = $EMOJI.SO -}}
              {{- else if eq (slicestr $pai 1) "z" -}}
                {{- $charset = $EMOJI.ZI -}}
              {{- end -}}
              {{- range slice 1 2 3 4 -}}
                {{- print (slicestr $charset (sub $i 1) $i) -}}
              {{- end -}}
            {{- else -}}
              <svg class="tile"><use class="face" xlink:href="#mj-0z" /></svg><svg class="tile"><use class="face" xlink:href="#mj-{{- $pai -}}" /></svg><svg class="tile"><use class="face" xlink:href="#mj-{{- $pai -}}" /></svg><svg class="tile"><use class="face" xlink:href="#mj-0z" /></svg>
            {{- end -}}
          {{- end -}}
          {{- if and (eq (len $input) 4) (eq $index 1) -}}<br/>{{- end -}}
        </span>
      {{- end -}}
      <br/>
    {{- end -}}

    {{- /* 展示手牌 */ -}}
    {{- range $key, $value := index $Output 0 -}}
      {{- range $code := $value -}}
        {{- if eq $Style "img" -}}
          <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $code -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
        {{- else if eq $Style "emoji" -}}
          {{- $i := int (slicestr $code 0 1) -}}
          {{- $charset := "" -}}
          {{- if eq $key "man" -}}
            {{- $charset = $EMOJI.MAN -}}
          {{- else if eq $key "pin" -}}
            {{- $charset = $EMOJI.PIN -}}
          {{- else if eq $key "so" -}}
            {{- $charset = $EMOJI.SO -}}
          {{- else if eq $key "zi" -}}
            {{- $charset = $EMOJI.ZI -}}
          {{- end -}}
          {{- print (slicestr $charset (sub $i 1) $i) -}}
        {{- else -}}
          {{- if eq $code "5m" -}}
            {{- if $RedExist.man -}}{{- $code = "0m" -}}{{- $RedExist = merge $RedExist (dict "man" false) -}}{{- end -}}
          {{- else if eq $code "5p" -}}
            {{- if $RedExist.pin -}}{{- $code = "0p" -}}{{- $RedExist = merge $RedExist (dict "pin" false) -}}{{- end -}}
          {{- else if eq $code "5s" -}}
            {{- if $RedExist.so -}}{{- $code = "0s" -}}{{- $RedExist = merge $RedExist (dict "so" false) -}}{{- end -}}
          {{- end -}}
          <svg class="tile"><use class="face" xlink:href="#mj-{{- $code -}}" /></svg>
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- /* 展示听牌 */ -}}
    {{- if index $count 1 -}}
      {{- $side := index $Output 1 -}}
      <span class="handwriting" style="margin: 0 0.25rem;">
        {{- if eq (index $count 1) 1 -}}和{{- else -}}<br/>听{{- end -}}
      </span>
      {{- range $key, $value := $side -}}
        {{- range $ting_pai := (uniq $value) -}}
          {{- if eq $Style "img" -}}
            <img class="sticker" src="https://sdfsdf.dev/36x52.png,beige,beige" title="{{- $ting_pai -}}" style="width: 36px; height: 52px; margin: 0 1px; border: 2px dashed red;" />
          {{- else if and (eq $Style "emoji") (len $ting_pai) -}}
            {{- $i := int (slicestr $ting_pai 0 1) -}}
            {{- $charset := "" -}}
            {{- if eq $key "man" -}}
              {{- $charset = $EMOJI.MAN -}}
            {{- else if eq $key "pin" -}}
              {{- $charset = $EMOJI.PIN -}}
            {{- else if eq $key "so" -}}
              {{- $charset = $EMOJI.SO -}}
            {{- else if eq $key "zi" -}}
              {{- $charset = $EMOJI.ZI -}}
            {{- end -}}
            {{- print (slicestr $charset (sub $i 1) $i) -}}
          {{- else -}}
            <svg class="tile"><use class="face" xlink:href="#mj-{{- $ting_pai -}}" /></svg>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- if or (gt (index $count 0) 1) (gt (index $count 1) 0) -}}</div>{{- end -}}

{{- end -}}
