{{- /* Initialize. */ -}}
{{- $name := "" -}}
{{- $id := "" -}}
{{- $type := "" -}}
{{- $icon := "" -}}

{{- if .Params -}}

  {{- /* Get parameters, defend against string booleans. */ -}}
  {{- if .IsNamedParams -}}
    {{- $name = .Get "name" -}}
    {{- $id = .Get "id" -}}
    {{- $type = .Get "type" -}}
    {{- $icon = .Get "icon" -}}
  {{- else -}}
    {{- $name = .Get 0 -}}
    {{- $id = .Get 1 -}}
    {{- $type = .Get 2 -}}
    {{- /* if len .Params | lt 2 }}arg4={{ .Get 3 }}:{{ end */ -}}
    {{- $icon = .Get 3 -}}
  {{- end -}}
  {{- /* TODO 处理 $type 和 $icon 的容错 */ -}}

  {{- if $name -}}
    {{- if $type -}}
      <div class="ygo-card {{ if eq $type "spell" }}ygo-spell{{ else if eq $type "trap" }}ygo-trap{{ else }}ygo-monster{{ end }}">
        {{- with $id -}}<a href="https://www.ygocdb.com/card/{{- . -}}" target="_blank">{{- end -}}
          <div class="icon icon-ygo-{{- $type -}}"></div>
          <span class="ygo-card-text">
            {{- $name -}}
          </span>
          {{- if (and (or (eq $type "spell") (eq $type "trap")) ($icon)) }}<div class="icon icon-ygo-{{- $icon -}}"></div>{{ end -}}
        {{- with $id -}}</a>{{- end -}}
      </div>
    {{- else -}}
      {{- with $id -}}<a href="https://www.ygocdb.com/card/{{- . -}}" target="_blank">{{- end -}}
        <b>{{- $name -}}</b>
      {{- with $id -}}</a>{{- end -}}
    {{- end -}}
  {{- else -}}
    <div class="ygo-card"><span class="ygo-card-text">CARD NAME ERROR</span></div>
  {{- end -}}

{{- else -}}
  <div class="ygo-card"><span class="ygo-card-text">CARD INFO ERROR</span></div>
{{- end -}}
