{{- if .Inner -}}
  {{- $deck := split (trim (replace .Inner "\r\n" "\n") "\n" | safeHTML) "\n" -}}

  <div class="ygo-deck">

    {{- if .Params -}}
      {{- $title := .Get 0 -}}
      {{- $url := .Get 1 -}}
      <div class="ygo-deck-title ygo-deck-title-big">
        {{- with $url -}}<a href="{{- . -}}" target="_blank" rel="noopener noreferrer">{{- end -}}
          {{- $title -}}
        {{- with $url -}}</a>{{- end -}}
      </div>
    {{- end -}}

    {{- range $deck -}}
      {{- $card := trim . " " -}}
      {{- if eq $card "#main" -}}
        <div class="ygo-deck-title ygo-deck-title-small">主卡组</div>
      {{- else if eq $card "#extra" -}}
        <div class="ygo-deck-title ygo-deck-title-small">额外卡组</div>
      {{- else if hasPrefix $card "!" -}}
        {{- $title := slice "副卡组" "禁止卡 Forbidden（限 0）" "限制卡 Limited（限 1）" "准限制卡 Semi-Limited（限 2）" -}}
        <div class="ygo-deck-title ygo-deck-title-small">
          {{- if eq $card "!side" -}}
            {{- index $title 0 -}}
          {{- else if eq $card "!ban3" -}}
            {{- index $title 1 -}}
          {{- else if eq $card "!ban2" -}}
            {{- index $title 2 -}}
          {{- else if eq $card "!ban1" -}}
            {{- index $title 3 -}}
          {{- else -}}
            {{- slicestr $card 1 -}}
          {{- end -}}
        </div>
      {{- else if eq $card "0" -}}
        {{- /* <img class="sticker" src="https://sdfsdf.dev/52x75.png,black,black" /> */ -}}
        <a style="pointer-events: none;">
          <img class="sticker" style="width: 46px; height: 69.391px; margin: 2px; border: 3px solid black; " />
        </a>
      {{- else if len (findRE "^\\d+$" $card) -}}
        <a href="https://ygocdb.com/card/{{- $card -}}" target="_blank">
          <img src="https://cdn.233.momobako.com/ygopro/pics/{{- $card -}}.jpg!half" />
        </a>
      {{- /* else if eq $card "" */ -}}
      {{- else if not (hasPrefix $card "#") -}}
        <a style="pointer-events: none;">
          <img class="sticker" style="width: 46px; height: 69.391px; margin: 2px; border: 3px dashed red; " />
        </a>
      {{- end -}}
    {{- end -}}

  </div>

{{- end -}}
